{% extends 'Shop/base.html' %}
{% block title %}EcoWaveCart | TradeIn {% endblock %}

{% block content %}
<div class="container mx-auto mt-10 mb-10 p-6 bg-[#E4E0E1] rounded-lg shadow-md">
    <!-- Page Header -->
    <div class="flex flex-col lg:flex-row justify-between items-center">
        <h1 class="text-4xl font-bold text-[#493628] mb-4 lg:mb-0">Trade your product</h1>
        <a href="{% url 'Shop:create_product' %}" class="block">
            <button type="button" class="bg-[#AB886D] hover:bg-[#493628] text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                Add Your Item Here
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </a>
    </div>

    <!-- Products Section -->
    {% if products %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
            {% for product in products %}
                <div class="relative mx-auto my-4 w-full max-w-xs flex flex-col overflow-hidden rounded-lg bg-[#D6C0B3] shadow-md hover:shadow-lg transition-shadow">
                    <a class="relative flex h-60 overflow-hidden rounded-t-lg group" href="{% url 'Shop:edit_product' product.id %}">
                        <img class="object-cover w-full transform transition-transform duration-500 group-hover:scale-110" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% if product.days_left >= 0 %}
                            <span class="absolute top-0 left-0 m-2 rounded-full bg-red-600 px-2 text-center text-sm font-medium text-white">
                                {% if product.days_left > 0 %}
                                    {{ product.days_left }} days left
                                {% else %}
                                    Expired
                                {% endif %}
                            </span>
                        {% endif %}
                    </a>
                    <div class="mt-4 px-5 pb-5">
                        <a href="{% url 'Shop:edit_product' product.id %}">
                            <h5 class="text-xl font-semibold tracking-tight text-[#493628]">{{ product.name|slice:":30" }}</h5>
                        </a>
                        <p class="text-[#493628] mb-4">
                            {{ product.description|slice:":60" }}{% if product.reason_for_trade_in|length > 60 %}...{% endif %}
                        </p>
                        <div class="mt-2 mb-5 flex items-center">
                            <span class="ml-2 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">{{ product.rating }}</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-[#493628]">${{ product.price }}</span>
                            <button onclick="showModal('{{ product.id }}', '{{ product.name }}', '{{ product.image.url }}')" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- No Products Section -->
        <div class="flex items-center justify-center h-full mt-6">
            <div class="text-center">
                <h2 class="text-2xl font-bold mb-4 text-[#AB886D]">No Products Listed for Trade-In</h2>
                <p class="text-[#493628] mb-4">You haven't listed any products for trade-in yet.</p>
                <a href="{% url 'Shop:create_product' %}">
                    <button class="bg-[#AB886D] hover:bg-[#493628] text-white px-4 py-2 rounded">Add New Product</button>
                </a>
            </div>
        </div>
    {% endif %}
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
    <div class="bg-[#E4E0E1] rounded-lg shadow-lg p-6 w-1/3">
        <h2 class="text-xl font-bold mb-4 text-[#493628]">Delete Product</h2>
        <img id="modal-product-image" src="" alt="Product Image" class="w-full h-48 object-cover rounded mb-4">
        <p class="text-[#493628] mb-4">Are you sure you want to delete <span id="modal-product-name" class="font-semibold"></span>?</p>
        <form action="{% url 'Shop:delete_product' %}" method="post" class="flex justify-between">
            {% csrf_token %}
            <input type="hidden" id="modal-product-id" name="product_id" value="">
            <button type="button" onclick="hideModal()" class="bg-[#D6C0B3] hover:bg-[#AB886D] text-white px-4 py-2 rounded">Cancel</button>
            <button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg">Yes</button>
        </form>
    </div>
</div>

<script>
    function showModal(productId, productName, productImage) {
        document.getElementById('deleteModal').classList.remove('hidden');
        document.getElementById('modal-product-id').value = productId;
        document.getElementById('modal-product-name').innerText = productName;
        document.getElementById('modal-product-image').src = productImage;
    }

    function hideModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>
{% endblock %}
